# API GraphQL do backend
EXPO_PUBLIC_API_URL=http://localhost:4000/graphql

# Base URL das imagens WebP do Exercise Dataset
EXPO_PUBLIC_DATASET_BASE_URL=https://raw.githubusercontent.com/sergei-argutin/exercise-dataset/main/images/flat/